<% if (title) { %>
    <h1 id="class-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>
    
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
        </ul>
    <% } %>

    <div>
        <form id="deleteReviewForm" class="form-container" action="/account/review/delete" method="post">
            <span>*ALL FIELDS ARE REQUIRED.</span>

            <fieldset>
                <legend>Edit Review</legend>
                <input type="hidden" name="inv_id" value="<%= vehicleData.inv_id %>">

                <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">

                <input type="hidden" name="review_id" value="<%= locals.reviewData.review_id %>">

                <label class="review">Review Date:
                    <input type="text" name="review_date" id="review_date" required readonly value="<%= new Date().toISOString() %>">
                </label>
                <label class="review">Review: 
                    <textarea name="review_text" id="reviewText" rows="3" maxlength="350" required readonly><%= reviewData ? reviewData.review_text : '' %></textarea>
                </label>
                <span>** Confirm Deletion - The delete action is permanent. **</span>
                <button class="review" id="submit-btn" type="submit">Delete Review</button>
            </fieldset>
        </form>
    </div>
