<% if (title) { %>
<h1 id="class-title"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>

<div>
    <h2 id="editForm" class="form-title">Update Personal Information</h2>
    <form id="updateForm" class="form-container" action="/account/edit"  method="post">
        <span class="form-msg">All fields are required.</span>
        <fieldset>
            <label class="login">First Name:
            <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
            </label>
    
            <label class="login">Last Name:
            <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">
            </label>
    
            <label class="login">Email:
            <input type="email" name="account_email" id="accountEmail" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">
            </label>

            <button class="register" id="submit-btn" type="submit">Update</button>
            <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"<% } %>>
        </fieldset>
    </form>
</div>
<div>
    <h2 id="editPW" class="form-title">Update Password</h2>
    <form id="updateForm" class="form-container" action="/account/edit/pw"  method="post">
        <fieldset name="Password">
            <p class="form-msg">Passwords must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</p>
            <p class="form-msg">*note your original password will be changed. </p>

            <label class="login">Password: 
            <input type="password" placeholder="Something@12" name="account_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$" required>
            </label>
            <span class="form-msg">* Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</span>

            <button class="register" id="submit-btn" type="submit">Change Password</button>
            <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>"<% } %>>
        </fieldset>
    </form>
</div>

<script src="../../js/account-update.js"></script>