<% if (title) { %>
    <h1 id="class-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="acct-management">
    <h2 id="acct-title">Welcome <%= locals.accountData.account_firstname %> <%= locals.accountData.account_lastname %>!</h2>
    <h3><a href="/account/edit/<%= locals.accountData.account_id %>">Update Account</a></h3>
    <% if (['Employee', 'Admin'].includes(locals.accountData.account_type)) { %>
        <h3><a href="/inv">Inventory Management</a></h3>
    <% } %>
    
    
</div>